/vendor/
/.env
/config/config.php
/storage/cache/*
/storage/logs/*
/storage/sessions/*
/storage/queue/*
/storage/uploads/*
/public/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/storage/queue/.gitkeep
!/storage/uploads/.gitkeep
!/public/uploads/.gitkeep
